
<h1>Client Profile</h1>
{{!-- Client Info --}}
<p>Client ID: {{client.id}} </p>
{{!-- User Info --}}
<p>First Name: {{client.user.first_name}}</p>
<p>Last Name: {{client.user.last_name}}</p>
<p>Username: {{client.user.username}}</p>
<p>City: {{client.user.city}}</p>
<p>State: {{client.user.state}}</p>
{{!-- UserServices Info, Joined To Services --}}
<p>Interested In: {{#each client.client_services}}</p>
{{service.name}}
{{/each}}
{{!--  Goal Info --}}
<h2>Goals</h2>
{{#each client.goals}}
<p>Goal Name: <a href="/goals/{{id}}">{{name}}</a></p>
<p>Associated Pro: {{professional.user.first_name}} {{professional.user.last_name}}</p>
<p>{{goal_type.status}}: {{posts.[0].post_question_answers.[0].answer}}</p>
{{/each}}