<div class="goal">
    <h1>Goal Page</h1>
    <p>Goal Name: {{goal.name}}</p>
    <p>Goal ID: {{goal.id}}</p>
    <p>Current Weight: {{currentWeight}}</p>
    <p>First Name:{{goal.client.user.first_name}}</p>
    <p>Last Name:{{goal.client.user.last_name}}</p>
    <h2>Posts</h2>
    {{#each goal.posts}}
    <p>Post ID{{id}}</p>
    <p>Post Date: {{date}}</p>
    <p>Post Weight {{post_question_answers.[0].answer}}</p>
    <h3>Comments</h3>
    {{#each comments}}
    <p>{{body}}</p>
    <p>{{date}}</p>
    <p>{{user.first_name}}</p>
    {{/each}}
    {{/each}}
</div>