<h2>{{client.user.first_name}}, Congratulations on deciding to set a goal! This
  is a very important first step.</h2>

<form class="new_goal_form">

  <p><label for="name">In a few words, describe your new goal.</label></p>
  <p><input
      type="text"
      class="single-field"
      id="name"
      name="name"
    /></p>

  <p><label for="goal_type_id">What type of goal is it?</label></p>
  <p><select class="nice-select" id="goal_type_id" name="goal_type_id">
      <option value=""> - Select a goal type - </option>
      {{#each goalTypes}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select></p>

  <p><label for="professional_id">Who would you like to work with?</label></p>
  <p><select class="nice-select" id="professional_id" name="professional_id">
      <option value=""> - Choose a professional - </option>
      {{#each professionals}}
        <option value="{{id}}">{{user.first_name}} {{user.last_name}}</option>
      {{/each}}
    </select></p>

  <input type="hidden" id="client_id" name="client_id" value="{{client.id}}" />

  <button class="submit-btn" id="submit-btn">Submit</button>
</form>

<script src="/js/goal.js"></script>