<h1>Professional Profiles</h1>

{{#each professionals}}
<h4>Professional Data</h4>
<p>Professional ID: {{id}}</p>
<p>Calendly: {{calendly}}</p>
<p>Bio: {{bio}}</p>
<h6>User Data</h6>
<p><a href="/professionals/{{id}}">Username: {{user.username}}</a></p>
<p>First Name: {{user.first_name}}</p>
<p>Last Name: {{user.last_name}}</p>
<p>City: {{user.city}}</p>
<p>State: {{user.state}}</p>
<h6>Services</h6>
{{#each professional_services}}
<p>{{service.name}}</p>
{{/each}}
{{else}}
<p class="empty">No content</p>
{{/each}}