<h1>Professional Profiles</h1>
{{#each professionals}}
<p>Professional ID: {{id}}</p>
<p>Calendly: {{calendly}}</p>
<p>Bio: {{bio}}</p>
<h2>User Data</h2>
<p>Username: {{user.username}}</p>
<p>First Name: {{user.first_name}}</p>
<p>Last Name: {{user.last_name}}</p>
<p>City: {{user.city}}</p>
<p>State: {{user.state}}</p>
<h2>Services</h2>
{{#each professional_services}}
<p>{{service.name}}</p>
{{/each}}
{{else}}
<p class="empty">No content</p>
{{/each}}